* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --blue: #1d4ed8;
  --white: #ffffff;
  --black: #000000;
  --gray: #575757;
}

/* common css */

.btn {
  background-color: var(--blue);
  color: var(--white);
  padding: 12px 41px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* start header css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px 0px;
}

.header__logo img {
  width: 134px;
  height: auto;
}

.header__navigation ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.header__navigation ul li a {
  font-family: "Arimo", sans-serif;
  text-decoration: none;
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
}

/* end header css  */

/* start hero section css */
.hero__container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.hero__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
}

.hero__content h1 {
  color: var(--white);
  font-size: 80px;
  margin-top: 136px;
  margin-bottom: 16px;
  text-align: center;
}
.hero__content p {
  color: var(--white);
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}
.hero__btn {
  margin-bottom: 79px;
}
/* end hero section css */

/* start card meet the Speakers */
.card__heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 56px;
}

.card__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: 20px 0px;
}
.card__main {
  border: 2px solid #e5e7eb;
  border-radius: 15px;
  width: 644px;
  height: 460px;
}
.card__image img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}

.card__tag {
  color: var(--blue);
  font-size: 12px;
  font-weight: 700;
}

.card__content b {
  font-size: 20px;
  font-weight: 800;
}
.card__description {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}

/* start pricing section */
.pricing {
  text-align: center;
}

.pricing h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 12px;
}
.pricing__plan {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 40px;
}
.pricing__package {
  width: 370px;
  height: 480px;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 50px;
}

.pricing__package b {
  font-size: 13px;
  font-weight: 700;
  color: #888888;
}
.pricing__price {
  font-size: 44px;
  font-weight: bold;
  margin: 12px 0px;
}
.pricing__description {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 20px;
}
.pricing__line {
  width: 100%;
  height: 1px;
  background-color: #e5e7eb;
  border: 1px solid #e5e7eb;
  margin-bottom: 20px;
}

ul li {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  font-weight: 400;
  margin-bottom: 14px;
  text-align: left;
}

li::marker {
  color: var(--blue);
}

.pricing__btn {
  background-color: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
  margin: 20px 0px;
  width: 250px;
  text-align: center;
}

.pricing__pro-bg {
  background-color: #0d1b2a;
}

.pricing__pro {
  color: var(--white);
}
b.pricing__pro {
  color: #fff;
}
.pricing__btn {
  width: 100%;
}
.pricing__pro-btn {
  width: 100%;
  margin: 20px 0px;
  border: none;
  text-align: center;
}
.pricing__pro-line {
  opacity: 0.5;
}
